body {
  background: url(../images/background-2.jpeg);
}
/*  Navbar */
.navbar {
  background: white !important;
  border-bottom: 1px solid #e7e7e7;
  padding: 0;
  margin-bottom: 1.25rem;
  font-family: Georgia, Times, 'Times New Roman', serif;
}
.navbar-brand {
  background: #4aaaa5;
  color: white !important;
  padding: 1rem;
  font-weight: bold;
  font-size: 1.4rem;
  margin-left: 3rem;
}
.navbar-collapse {
  flex-grow: 0;
}
.navbar-toggler {
  margin-top: 0.5rem;
  border-color: white !important;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  font-size: 1rem;
  outline: none !important;
  display: block;
}
.navbar-toggler:focus {
  box-shadow: none;
}
.nav-link:not(:first-child) {
  padding-left: 1.5rem !important;
  padding-right: 0 !important;
}
@media (min-width: 576px) {
  .navbar .container {
    max-width: 750px;
  }
}
@media only screen and (max-width: 767px) {
  .navbar {
    background: #4aaaa5 !important;
  }
  .navbar-brand {
    margin-left: 0;
    white-space: pre-wrap;
    margin-right: 0;
  }
  .navbar-brand {
    width: 100%;
    text-align: center;
    display: block;
  }
  .navbar-toggler {
    margin-right: 0;
    margin-left: auto;
  }
}
@media screen and (min-width: 768px) {
  .navbar .container {
    max-width: 1250px;
  }
  .nav-link:last-child {
    margin-right: 1rem;
  }
  .navbar-collapse {
    display: flex !important;
  }
  .navbar-nav {
    flex-direction: row !important;
  }
  .navbar-toggler {
    display: none;
  }
  .navbar-collapse {
    flex-basis: 0;
  }
  .navbar-brand {
    margin-left: 5rem;
  }
}
@media screen and (min-width: 1200px) {
  .navbar-brand {
    margin-left: 3.5rem !important;
  }
}
/* end of  Navbar */

/* Main section */
.about-me,
.contact-me {
  background: white;
  padding: 1.88rem;
  margin-top: 32px;
}
.my-img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  margin: 1.25rem 1.25rem 0 0;
  float: left;
}
.about-me h1 {
  color: #4aaaa5;
  padding: 0 0 2.06rem 0;
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.25rem;
  border-bottom: 1px solid #e7e7e7;
}
.about-me > p {
  padding-top: 1.25rem;
  line-height: 1.88rem;
  color: #bbc;
}
.contact-me h3,
.about-me h1 {
  color: #4aaaa5;
  font-weight: bold;
  font-family: Georgia, Times, 'Times New Roman', serif;
}
.contact-me {
  padding-bottom: 2.69rem;
}
.contact-me h3 {
  padding: 1.25rem 0 0.94rem 0;
  margin-bottom: 1.25rem;
  border-bottom: 1px solid #e7e7e7;
  font-size: 1.56rem;
}
.social-icons {
  padding-top: 0.94rem;
  text-align: center;
}
.social-icons img {
  height: 55px;
  width: 55px;
  object-fit: cover;
}
.social-icons img:not(:last-child) {
  margin-right: 0.3rem;
}
@media only screen and (max-width: 992px) {
  col-md-8,
  col-md-4 {
    display: block;
  }
}
/* end of Main section */

/* Footer */
.footer {
  position: relative;
  width: 100%;
  height: 60px;
  margin-top: 6rem;
  background-color: #666;
  border-top: 0.4rem solid #4aaaa5;
}

.footer > .container {
  margin-top: 0.7rem;
}
.footer span {
  font-size: 0.9rem;
}
/* end of Footer */

/* Contact Page */
.contact h1 {
  margin: 2.06rem 0;
}
.button {
  margin-top: 1rem;
  padding: 0.94rem 1.88rem;
  border: none;
  cursor: pointer;
  background: #4aaaa5;
  color: white;
}
.form-group label {
  font-size: 1.06rem;
  color: #bbc;
  font-weight: 700;
}
.form-group input {
  width: 95%;
  height: 30px;
  margin: 20px 0 15px 0;
  border-radius: 0.1rem;
  border-color: #666;
}
.form-group textarea {
  border-radius: 0;
  border-color: #bbc;
  height: 200px;
  width: 95%;
  margin: 20px 0 15px 0;
}
/* end of Contact Page */
